<div class="twofas-login-footer">
    <div class="twofas-login-footer-logo">
        <img src="{{ assets_url }}images/logo.png" alt="2FAS logo"/>
    </div>
    <span class="twofas-login-footer-tooltip">{{ esc_html__('This site is secured by 2FAS Classic', '2fas') }}</span>
</div>
