@import '../../includes/variables';

&-delete-bar-wrapper {
  margin: 30px -15px 0 -15px;

  .twofas-delete-bar {
    background: $TF_Admin_Delete_Bar_Background_Color;
    color: $TF_Admin_Delete_Bar_Color;
    font-size: 14px;
    font-weight: 400;
    height: 40px;
    line-height: 40px;
    padding: 0 25px;
    width: 100%;

    @media all and (max-width: 480px) {
      height: auto;
      line-height: 1;
      padding: 15px;
    }

    p {
      display: inline-block;
    }

    a {
      text-decoration: underline;
      color: inherit;
    }
  }
}