@import '../includes/variables';

.update-message {
  .twofas-upgrade-notice {
    & + p {
      display: none;
    }

    p {
      &::before {
        content: '';
        margin-right: 0;
      }
    }
  }
}