@import '../includes/variables';

.twofas-admin {
  h2 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 15px;
  }

  @import 'admin/account';
  @import 'admin/delete_bar';
  @import 'admin/plans';
  @import 'admin/users';
  @import 'admin/video';
  @import 'admin/account-box';
  @import 'admin/configuration';
}
